.meal{
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  margin: 10px;
  width: 30%;
}
.meal .image{
  border-radius: 8px;
  overflow: hidden;
}
.meal .image img{
  transition: 0.5s;
}
.meal:hover img{
  transform: scale(1.1);
}
.meal h2{
  font-size: 1.7rem;
  margin: 10px 0;
}
.meal p{
  color: orangered;
}